/* POPUP */
#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 2rem;
    background-color: var(--bg-white);
    border: 1px solid var(--fg-black);
    box-shadow: 5px 5px 0px 0px #000000;
    z-index: 1000;
    text-align: center;
}

#popup-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#popup h2 {
    font-family: var(--ff-header);
    font-size: var(--fz-header);
}

#popup p {
    font-family: var(--ff-body);
    font-size: var(--fz-body);
}

#popup button {
    font-family: var(--ff-body);
    font-size: var(--fz-body);
    padding: .5rem 1rem;
    border: none;
    background-color: var(--fg-black);
    color: var(--bg-white);
    cursor: pointer;
}
