@import url('./icon.css');

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    font-size: 1rem;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

:root {
    /* COLORS */
    /* Neutrals */
    --anti-flash-white: #eeeeee;
    --night: #0f0f0f;
    --eerie-black: #171717;
    --light-eerie-black: #1f1f1f;

    /* Primary Colors */
    --saturate-electric-indigo: #6721ef;
    --electric-indigo: #6d28d9;
    --blue-violet: #7c3aed;
    --tropical-indigo: #a78bfa;
    --periwinkle: #c4b5fd;

    /* TYPOGRAPHY */
    --ff-primary: 'Roboto Mono', sans-serif;
    --ff-second: 'Source Serif 4', sans-serif;

    /* font weight */
    --fw-thin: 300;
    --fw-regular: 500;

}

/* Pseudo Classes */

.hidden {
    display: none !important;
}

* {
    color: var(--anti-flash-white);
    font-family: var(--ff-primary);
}

body {
    /* background-image: url("../assets/images/bg.jpg"); */
    /* background-repeat: no-repeat;
    background-size: cover; */
    background-color: #000;
}

header {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    padding: 1.5rem 3rem;
}

header h1,
header nav {
    width: fit-content;
}

header h1 {
    font-weight: var(--fw-regular);
}

header span {
    font-weight: var(--fw-thin);
}

nav ul {
    display: flex;
    gap: 5rem;
    padding: 0;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: var(--blue-violet);
}

main {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin: 4rem 2rem;
}

main section {
    margin: auto;
}

#about-me,
#projects,
#contact-me {
    width: 100%;
}

#main-hero {
    margin-top: -7rem;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#hero-img {
    width: 35%;
    border-radius: 50%;
}

#hero-info {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#hero-info h2 {
    font-size: 3.125rem;
}

#hero-info span {
    /* font-family: var(--ff-second); */
    font-size: 3.75rem;
    /* background-image: linear-gradient(90deg, #AF4BF2, #49C2F2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: var(--blue-violet);

}

.cta,
#hire-me {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 2rem;
    border-radius: .5rem;
    background-color: #6721ef;
    width: fit-content;
}

#about-me {
    height: 100vh;
    padding: 1rem;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(90deg, rgba(0, 2, 13, 0.75), rgba(2, 7, 38, 0.75));
}

#about_me-info {
    max-width: 750px;
}

.title,
#about-me h2 {
    text-align: center;
    font-family: var(--ff-primary);
    font-size: 3.125rem;
    background-color: var(--blue-violet);
    /* background-image: linear-gradient(180deg, #AF4BF2, #49C2F2); */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#hard-skills {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#back-end,
#front-end,
#problem-solving {
    max-width: 14.25rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: #131520;
    border: 2px solid #282828;
}

#back-end h3,
#front-end h3,
#problem-solving h3 {
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
}

#back-end p,
#front-end p,
#problem-solving p {
    opacity: 80%;
}

#hard-skills {
    margin: 1.5rem 0;
}

#projects {
    height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(90deg, rgba(0, 2, 13, 0.75), rgba(2, 7, 38, 0.75));
}

#project-previews {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.project-preview {
    max-width: 20%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: #131520;
}

.project-preview img {
    width: 100%;
    border-radius: 5px;
}

#contact-me {
    height: 50vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(90deg, rgba(0, 2, 13, 0.75), rgba(2, 7, 38, 0.75));
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-example {
    display: flex;
    flex-direction: column;
}

form input[type="button"] {
    padding: .5rem 1rem;
    border-radius: .5rem;
    background-color: #6721ef;
    text-decoration: underline;
    color: var(--anti-flash-white);
    border: none;
    cursor: pointer;
}

form input,
form textarea {
    color: black;
}

.mdi--github,
.mdi--linkedin,
.mdi--codepen {
    height: 32px;
    width: 32px;
}

#github a,
#linkedin a,
#codepen a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    width: fit-content;
    text-decoration: none;
}

#contact-links {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: min-content;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: #131520;
}

footer ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

footer li {
    list-style: none;
}

#networks {
    padding: .5rem;
    display: flex;
    gap: 1rem;
}

#usefull-links {
    padding: .5rem;
    display: flex;
    gap: 1rem;
}

footer #bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    background-color: hsl(260, 87%, 53%);
    width: 100vw;
}

footer #bottom p {
    font-size: .75rem;
}